Source: ros-jazzy-gtsam
Section: misc
Priority: optional
Maintainer: Frank Dellaert <gtsam@lists.gatech.edu>
Build-Depends: debhelper (>= 9.0.0), cmake, libboost-all-dev, libeigen3-dev, libtbb-dev, ros-jazzy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-gtsam
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-ros-workspace
Description: gtsam
