name: Special Cases CI

on:
  pull_request:
    paths-ignore:
      - '**.md'
      - '**.ipynb' 
      - 'myst.yml'

# Cancels any in-progress workflow runs for the same PR when a new push is made,
# allowing the runner to become available more quickly for the latest changes.
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    name: ${{ matrix.name }} ${{ matrix.build_type }}
    runs-on: ${{ matrix.os }}
    container:
      image: borglab/gtsam-ci:${{ matrix.os }}-${{ matrix.compiler }}-${{ matrix.version }}
      env:
        CMAKE_BUILD_TYPE: ${{ matrix.build_type }}
      volumes:
        - ${{ github.workspace }}:/gtsam
    strategy:
      fail-fast: false

      matrix:
        # Github Actions requires a single row to be added to the build matrix.
        # See https://help.github.com/en/articles/workflow-syntax-for-github-actions.
        name:
          [
            ubuntu-clang-deprecated,
            ubuntu-clang-quaternions,
            ubuntu-clang-tbb,
            ubuntu-clang-cayleymap,
            ubuntu-clang-system-libs,
            ubuntu-no-unstable,
            ubuntu-build-examples,
          ]

        build_type: [Release]

        include:
          - name: ubuntu-clang-deprecated
            os: ubuntu-22.04
            compiler: clang
            version: "14"
            flag: deprecated

          - name: ubuntu-clang-quaternions
            os: ubuntu-22.04
            compiler: clang
            version: "14"
            flag: quaternions

          - name: ubuntu-clang-tbb
            os: ubuntu-22.04
            compiler: clang
            version: "14"
            flag: tbb

          - name: ubuntu-clang-cayleymap
            os: ubuntu-22.04
            compiler: clang
            version: "14"
            flag: cayley

          - name: ubuntu-clang-system-libs
            os: ubuntu-22.04
            compiler: clang
            version: "14"
            flag: system

          - name: ubuntu-no-unstable
            os: ubuntu-22.04
            compiler: clang
            version: "14"
            flag: no_unstable

          - name: ubuntu-build-examples
            os: ubuntu-22.04
            compiler: clang
            version: "14"
            flag: build_examples

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set Allow Deprecated Flag
        if: matrix.flag == 'deprecated'
        run: |
          echo "GTSAM_ALLOW_DEPRECATED_SINCE_V43=ON" >> $GITHUB_ENV
          echo "Allow deprecated since version 4.3"

      - name: Set Use Quaternions Flag
        if: matrix.flag == 'quaternions'
        run: |
          echo "GTSAM_USE_QUATERNIONS=ON" >> $GITHUB_ENV
          echo "Use Quaternions for rotations"

      - name: Set GTSAM_WITH_TBB Flag
        if: matrix.flag == 'tbb'
        run: |
          echo "GTSAM_WITH_TBB=ON" >> $GITHUB_ENV
          echo "GTSAM Uses TBB"

      - name: Use Cayley Transform for Rot3
        if: matrix.flag == 'cayley'
        run: |
          echo "GTSAM_POSE3_EXPMAP=OFF" >> $GITHUB_ENV
          echo "GTSAM_ROT3_EXPMAP=OFF" >> $GITHUB_ENV
          echo "GTSAM Uses Cayley map for Rot3"

      - name: Build Examples
        if: matrix.flag == 'build_examples'
        run: |
          echo "GTSAM_BUILD_EXAMPLES_ALWAYS=ON" >> $GITHUB_ENV

      - name: Use system versions of 3rd party libraries
        if: matrix.flag == 'system'
        run: |
          echo "GTSAM_USE_SYSTEM_EIGEN=ON" >> $GITHUB_ENV
          echo "GTSAM_USE_SYSTEM_METIS=ON" >> $GITHUB_ENV

      - name: Turn off unstable
        if: matrix.flag == 'no_unstable'
        run: |
          echo "GTSAM_BUILD_UNSTABLE=OFF" >> $GITHUB_ENV
          echo "GTSAM unstable will not be built."

      - name: Build & Test
        run: |
          bash .github/scripts/unix.sh -t

